.overlay {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 auto;
	min-height: 110%;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	overflow: hidden;
}

.index-h1 {
	position: relative;
	margin: 0 auto;
	margin-bottom: 5px;
	padding-top: 15%;
	text-align: center;
	font-size: 64px;
	z-index: 1000;
	color: white;
	top: -30px;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	min-height: 85px;
	background-color: rgb(24, 24, 24);
}

.footer-inner {
	width: 100%;
	color: white;
	margin-top: 5px;
	text-align: center;
	display: flex;
	justify-content: center;
}

.copy-right {
	position: relative;
	top: 0;
	left: 0;
	animation-name: copyright-anim;
	animation-duration: 1.5s;
}

.link {
	margin-top: 15px;
	margin-right: 10px;
}

.link>span {}

.nav {
	display: inline-block;
	padding-bottom: 8px;
	vertical-align: top;
	margin-top: 20px;
}

.nav-a {
	padding: 10px 10px;
	border-radius: 8px;
	background: linear-gradient(180deg, #181818, rgb(80, 80, 80));
	color: white;
	text-decoration: none;
	font-size: 1rem;
}

.nav-li {
	width: auto;
}

.nav>ul>li>a:hover {
	background: linear-gradient(180deg, #505050, rgb(124, 124, 124));
	transition: background 1s;
}

.footer-social {
	display: inline-block;
	vertical-align: top;
	margin-top: 8px;
	font-size: 0px;
	height: 40px;
	width: 40px;
}

.footer-social:first-of-type {
	margin-left: 12px;
}

.mus-player {
	height: 40px;
	width: 40px;
	background-color: transparent;
	margin-top: 10px;
	border: 1px solid gray;
	position: relative;
	cursor: pointer;
	margin-right: 10px;
}

.mus-player::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -6px;
	margin-top: -10.5px;
	border: 10px solid transparent;
	border-left: 15px solid white;
}

.mus-player:hover {
	border: 1px solid white;
}

.site-name-link {
	text-decoration: none;
	color: white;
}

.btn {
	position: absolute;
	left: -60px;
	z-index: 3;
	margin-left: 50%;
	padding: 8px 14px;
	width: 120px;
	border: 20px;
	border: 1px solid white;
	background-color: transparent;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
}

#btn:hover {
	cursor: pointer;
}

.line {
	position: absolute;
	bottom: 4px;
	left: 0;
	margin: 0 auto;
	width: 100%;
	height: 12px;
	background-color: rgb(65, 65, 65);
	color: rgb(111, 111, 111);
	text-align: center;
	font-size: 11px;
}

.clearfix::after {
	display: table;
	visibility: hidden;
	clear: both;
	height: 0;
	content: "";
}

.container-bio {
	margin: 0 auto;
	min-height: 6250px;
	width: 1000px;
}

.left-col p {
	margin-top: 0px;
	margin-bottom: 15px;
	font-family: monospace;
	font-size: 1.2em;
}

.left-col {
	flex-basis: 48%;
	margin-right: 20px;
}

.right-col {
	flex-basis: 50%;
}

.bio {
	text-align: center;
	margin-bottom: 10px;
	letter-spacing: 0.2em;
}

.lang-choise {
	margin-bottom: 20px;
	text-align: center;
	width: 170px;
	height: 25px;
	background-color: #F0B000;
	margin: 0 auto;
	margin-bottom: 20px;
	animation-name: lang;
	animation-duration: 0.7s;
	overflow: hidden;
}

.left-col>p {
	margin: 0;
	margin-bottom: 15px;
}

.right-col {
	font-size: 25px;
}

.right-col>h2 {
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-left: 40px;
}

.wiki {
	margin-left: 120px;
	color: #4682B4;
}

.descr {
	max-width: 445px;
	font-weight: 500;
	font-size: 0.82em;
	line-height: 1.14;
	letter-spacing: 0.4px;
	height: 5250px;
}

img>p {
	font-size: 0.79m;
}

.disco {
	padding-left: 40px;
	font-size: 30px;
	font-family: monospace;
	letter-spacing: 0.3em;
	text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px, rgba(0, 0, 0, 0.6) -1px -1px 1px;
}

.disco-songs {
	letter-spacing: 0.1em;
	font-family: monospace;
	font-size: 0.84em;
	height: 320px;
	width: 90%;
}

.container-music {
	width: 1000px;
	margin: 0 auto;
	color: white;
	text-align: center;
	min-height: 2550px;
}

.titles {
	display: inline-block;
	font-size: 40px;
	width: 25%;
	font-weight: 600;
}

.left {
	text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px, rgba(0, 0, 0, 0.6) -1px -1px 1px;
	animation-name: title-anim;
	animation-duration: 1.5s;
	position: relative;
	top: 0px;
	left: 0px;
}

.right {
	animation-name: title-anim;
	animation-duration: 1.5s;
	position: relative;
	top: 0px;
	left: 0px;
}

.main {
	font-size: 48px;
	text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px, rgba(0, 0, 0, 0.6) -1px -1px 1px;
	animation-name: title-anim2;
	animation-duration: 2s;
}

.first-album {
	float: left;
	width: 600px;
	border: 1px solid white;
	padding: 10px;
	text-align: left;
	margin-left: 10px;
}

.buy-left {
	float: left;
	position: relative;
	left: 10px;
}

.buy-left:hover {
	color: yellow;
	cursor: pointer;
}

.time {
	display: inline-block;
	margin-left: 10px;
	vertical-align: bottom;
	cursor: default;
}

.duration {
	display: inline-block;
	vertical-align: middle;
	cursor: default;
}

.subscr-right {
	position: relative;
	display: inline-block;
	float: right;
	left: -10px;
}

.twitter {
	position: absolute;
	left: 90px;
	top: 1px;
	visibility: hidden;
	cursor: pointer;
	animation-duration: 0.9s;
}

.face {
	position: absolute;
	left: 62px;
	top: 1px;
	visibility: hidden;
	cursor: pointer;
	animation-duration: 0.7s;
}

.vk {
	position: absolute;
	left: 34px;
	top: 1px;
	visibility: hidden;
	cursor: pointer;
	animation-duration: 0.5s;
}

.img-block {
	min-height: 500px;
	width: 572px;
	background: url(../img/heart-of-stone.jpg);
	margin-top: 15px;
	margin-left: 13px;
	background-position: center;
	background-clip: content-box;
	background-repeat: no-repeat;
}

.controls {
	margin-top: 20px;
}

.song-ul {
	list-style: none;
	text-align: left;
	padding: 0;
}

.song-ul2 {
	list-style: none;
	text-align: left;
	padding: 0;
}

.num-concerts {
	font-size: 45px;
	display: inline-block;
	vertical-align: middle;
}

.song-list1 {
	display: block;
	padding-top: 12px;
	padding-bottom: 12px;
	border-top: 1px gray solid;
	font: normal normal normal 14px "courier new", courier-ps-w01, courier-ps-w02, courier-ps-w10, monospace;
	letter-spacing: 1px;
	cursor: pointer;
}

.seconds,
.minutes,
.duration {
	font-size: 14px;
	position: relative;
}

.track-length {
	float: right;
}

.song-list1:hover {
	color: #F0B000;
	padding-bottom: 14px;
}

.song-list3:hover {
	color: #F0B000;
	padding-bottom: 14px;
}

.song-list4:hover {
	color: #F0B000;
	padding-bottom: 14px;
}

.song-list5:hover {
	color: #F0B000;
	padding-bottom: 14px;
}

.second-album {
	float: left;
	width: 560px;
	min-height: 300px;
	border: 1px white solid;
	margin: 0 auto;
	margin-top: 20px;
	margin-left: 20px;
	padding: 15px;
	text-align: left;
}

.img-block2 {
	background: url(../img/img10.jpg);
	width: 550px;
	height: 550px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-top: 15px;
}

.song-list2 {
	padding-top: 12px;
	padding-bottom: 12px;
	border-top: 1px gray solid;
	font: normal normal normal 14px "courier new", courier-ps-w01, courier-ps-w02, courier-ps-w10, monospace;
	letter-spacing: 1px;
	cursor: pointer;
}

.song-list2:hover {
	color: #F0B000;
	padding-bottom: 14px;
}

.controls2 {
	margin-top: 20px;
}

.duration2 {
	display: inline;
}

.third-album {
	float: right;
	width: 310px;
	min-height: 400px;
	border: 1px solid white;
	margin-top: 35px;
	padding: 10px;
	margin-right: 20px;
	text-align: left;
	padding-bottom: 0px;
}

.img-block3 {
	background: url(../img/img11.jpg);
	width: 280px;
	height: 280px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-clip: content-box;
	padding-left: 15px;
	padding-top: 10px;
}

.progress-line3 {
	height: 5px;
	width: 25%;
	display: inline-block;
	background-color: rgba(255, 255, 255, .2);
	position: relative;
	cursor: pointer;
	margin-left: 10px;
	vertical-align: middle;
}

.progress-line4 {
	height: 5px;
	width: 25%;
	display: inline-block;
	background-color: rgba(255, 255, 255, .2);
	position: relative;
	cursor: pointer;
	margin-left: 10px;
	vertical-align: middle;
}

.progress-line5 {
	height: 5px;
	width: 25%;
	display: inline-block;
	background-color: rgba(255, 255, 255, .2);
	position: relative;
	cursor: pointer;
	margin-left: 10px;
	vertical-align: middle;
}

.song-list3 {
	padding-top: 12px;
	padding-bottom: 12px;
	border-top: 1px gray solid;
	font: normal normal normal 14px "courier new", courier-ps-w01, courier-ps-w02, courier-ps-w10, monospace;
	letter-spacing: 1px;
	cursor: pointer;
}

.song-name {
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	font-size: 22px;
	font-family: sans-serif;
	white-space: nowrap;
	overflow-x: hidden;
	max-width: 100%;
}

.album-name {
	font-family: monospace;
}

.songs-scroll {
	height: 200px;
	overflow-y: auto;
}

.fourth-album {
	float: right;
	width: 310px;
	min-height: 380px;
	border: 1px solid white;
	margin-top: 20px;
	padding: 10px;
	margin-right: 20px;
	padding-bottom: 0px;
	text-align: left;
}

.img-block4 {
	background: url(../img/img12.jpg);
	width: 280px;
	height: 280px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-clip: content-box;
	padding-left: 15px;
	padding-top: 10px;
}

.song-list4 {
	padding-top: 12px;
	padding-bottom: 12px;
	border-top: 1px gray solid;
	font: normal normal normal 14px "courier new", courier-ps-w01, courier-ps-w02, courier-ps-w10, monospace;
	letter-spacing: 1px;
	cursor: pointer;
}

.fifth-album {
	float: right;
	width: 280px;
	min-height: 300px;
	border: 1px solid white;
	margin-top: 10px;
	padding: 10px;
	margin-right: 35px;
	padding-bottom: 0px;
	text-align: left;
}

.img-block5 {
	background: url(../img/img13.jpg);
	width: 280px;
	height: 280px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-clip: content-box;
	padding-top: 10px;
}

.song-list5 {
	padding-top: 12px;
	padding-bottom: 12px;
	border-top: 1px gray solid;
	font: normal normal normal 14px "courier new", courier-ps-w01, courier-ps-w02, courier-ps-w10, monospace;
	letter-spacing: 1px;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
}

.controls5 {
	width: 250px;
}

.progress-line1 {
	height: 5px;
	width: 60%;
	display: inline-block;
	background-color: rgba(255, 255, 255, .2);
	position: relative;
	cursor: pointer;
	margin-left: 10px;
	vertical-align: middle;
}

.progress1 {
	height: 5px;
	width: 0px;
	background-color: #F0B000;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
}

.button {
	margin-top: 12px;
	height: 30px;
	width: 30px;
	position: relative;
	cursor: pointer;
	display: inline-block;
	top: 8px;
}

.play::before {
	content: "";
	display: block;
	position: absolute;
	border: 12px solid transparent;
	border-left: 16px solid white;
	left: 17px;
	cursor: pointer;
	top: 4px;
}

.play:hover::before {
	border-left: 16px solid #F0B000;
}

.stop::before {
	content: "";
	display: block;
	position: absolute;
	border: 3px solid white;
	left: 14px;
	height: 18px;
	cursor: pointer;
	top: 2px;
}

.stop:hover::before {
	border-color: #F0B000;
}

.stop::after {
	content: "";
	display: block;
	position: absolute;
	border: 3px solid white;
	left: 27px;
	height: 18px;
	cursor: pointer;
	top: 2px;
}

.stop:hover::after {
	border-color: #F0B000;
}

.btn-prev {
	display: inline-block;
}

.btn-next {
	display: inline-block;
}

.btn-prev::before {
	content: "";
	display: block;
	position: relative;
	border: 8px solid transparent;
	border-right: 11px solid white;
	cursor: pointer;
	top: 16px;
}

.btn-prev::after {
	content: "";
	display: block;
	position: relative;
	border: 1.5px solid white;
	cursor: pointer;
	height: 11px;
	width: 0px;
	left: 8px;
	top: 1px;
}

.btn-prev:hover::before {
	border-right: 11px solid #F0B000;
}

.btn-prev:hover::after {
	border-color: #F0B000;
}

.btn-next:hover::before {
	border-left: 11px solid #F0B000;
}

.btn-next:hover::after {
	border-color: #F0B000;
}

.btn-next::before {
	content: "";
	display: block;
	position: relative;
	border: 8px solid transparent;
	border-left: 11px solid white;
	cursor: pointer;
	top: 16px;
	left: 6px;
}

.btn-next::after {
	content: "";
	display: block;
	position: relative;
	border: 1.5px solid white;
	cursor: pointer;
	height: 11px;
	width: 0px;
	left: 15px;
	top: 1px;
}

.container-video {
	width: 1000px;
	margin: 0 auto;
	color: black;
	text-align: center;
	min-height: 1900px;
}

.header-name {
	font-family: monospace;
	font-size: 40px;
	color: white;
	letter-spacing: 3px;
	text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px, rgba(0, 0, 0, 0.6) -1px -1px 1px;
	animation-name: video-header;
	animation-duration: 2s;
}

.video-block1 {
	margin: 0 auto;
	background-color: #181818;
	min-height: 600px;
	width: 850px;
	overflow: hidden;
}

.fan {
	float: left;
	margin-left: 15px;
	color: white;
	font-size: 20px;
	margin-bottom: 10px;
}

.video-container {
	margin: 0 auto;
	width: 820px;
	min-height: 520px;
	padding-top: 20px;
}

.video-img-container {
	height: 160px;
	width: auto;
	white-space: nowrap;
	display: inline-block;
	position: relative;
	right: 0px;
	animation-duration: 0.5s;
	font-size: 0px;
	text-align: left;
}

.video-img-container2 {
	height: 160px;
	margin-top: 10px;
	position: relative;
	left: 0;
	animation-duration: 0.5s;
	font-size: 0px;
	text-align: left;
}

.video-img {
	position: relative;
	margin: 10px;
	height: 140px;
	width: 260px;
	display: inline-block;
	background-color: white;
	vertical-align: middle;
}

img {
	display: inline-block;
	margin-bottom: 3px;
}

.prev {
	float: left;
	position: relative;
	margin: 10px;
	cursor: pointer;
	color: white;
	left: 70px;
	visibility: hidden;
}

.prev::before {
	content: "";
	position: absolute;
	width: 43px;
	height: 1.5px;
	background-color: white;
	top: 9px;
	left: -50px;
}

.prev::after {
	content: "";
	position: absolute;
	border: 4px solid transparent;
	border-right: 8px solid white;
	top: 6px;
	left: -60px;
}

.next {
	float: right;
	position: relative;
	margin: 10px;
	cursor: pointer;
	color: white;
	right: 70px;
}

.next::before {
	content: "";
	position: absolute;
	width: 43px;
	height: 1.5px;
	background-color: white;
	top: 9px;
	right: -50px;
}

.next::after {
	content: "";
	position: absolute;
	border: 4px solid transparent;
	border-left: 8px solid white;
	top: 6px;
	right: -60px;
}

.page-counter {
	text-align: center;
	color: white;
	position: relative;
	top: 10px;
}

.img-block1 {
	position: relative;
	z-index: 3;
}

.z-hover {
	height: 140px;
	width: 260px;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

.video-song-name {
	color: white;
	text-align: left;
	font-size: 14px;
	white-space: normal;
	font-family: monospace;
	overflow: hidden;
}

.video-length {
	font-size: 14px;
	position: absolute;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	padding-left: 10px;
	padding-right: 10px;
	bottom: 0px;
	left: 0px;
}

.split-line {
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 40px;
	height: 1px;
	width: 90%;
	background-color: white;
}

#body {
	background-image: url(../img/music-bg.jpg);
	background-attachment: fixed;
	background-size: cover;
	min-height: 2400px;
	margin: 0 auto;
	background-repeat: no-repeat;
}

.contacts-body {
	background-attachment: fixed;
	background-size:cover;
	margin: 0 auto;
	background-repeat: no-repeat;
	color: white;
}

.container-contacts {
	width: 1000px;
	margin: 0 auto;
	text-align: left;
}

.header-contacts {
	text-align: center;
	letter-spacing: 0.1em;
}

.underline {
	width: 350px;
	height: 1px;
	background-color: white;
	margin: 0 auto;
	color: white;
}

.info {
	font-size: 1.4em;
	padding-left: 120px;
	font-family: monospace;
	letter-spacing: 0.07em;
	margin-top: 10px;
	margin-bottom: 10px;
}

.phone-numbers {
	display: inline-block;
	position: relative;
	top: 45px;
}

.follow-us {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	position: relative;
	z-index: 2;
	border-radius: 1000px;
	overflow: hidden;
	top: 30px;
}

.follow-video {
	width: 600px;
	height: 400px;
	position: relative;
	z-index: 1;
	top: -32px;
	left: 0;
}

.follow {
	position: absolute;
	top: 112px;
	left: 40px;
	z-index: 2;
	left: 70px;
}

.follow-line {
	position: absolute;
	top: 155px;
	left: 42px;
	width: 0px;
	height: 1px;
	background-color: white;
	z-index: 2;
}

.social {
	display: inline-block;
	position: absolute;
	top: 160px;
	left: 70px;
	z-index: 3;
	opacity: 0;
	cursor: pointer;
}

.inst {
	left: 124px;
}

.youtube {
	left: 178px;
}

.contacts-icon {
	position: relative;
	top: 11px;
	left: 12px;
	animation-name: contacts-icon;
	animation-duration: 0.8s;
}

.contacts-header {
	text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px, rgba(0, 0, 0, 0.6) -1px -1px 1px;
	font-size: 2.5em;
	letter-spacing: 0.1em;
}

.container-concerts {
	width: 1000px;
	margin: 0 auto;
	min-height: 800px;
}

.header {
	text-align: center;
	word-spacing: 40px;
	font-size: 3.4em;
	font-family: monospace;
	font-weight: bold;
	letter-spacing: 0.05em;
	padding-top: 15px;
	margin-bottom: 15px;
}

.events {
	position: relative;
	top: 0;
	left: 0;
	animation-name: concert-events;
	animation-duration: 1.5s;
}

.afisha {
	position: relative;
	top: 0;
	left: 0;
	animation-name: concert-afisha;
	animation-duration: 1.7s;
	text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px, rgba(0, 0, 0, 0.6) -1px -1px 1px;
}

.concerts {
	position: relative;
	top: 0;
	left: 0;
	animation-name: concert-concerts;
	animation-duration: 1.7s;
}

.content-block {
	width: 90%;
	min-height: 500px;
	background-color: rgba(255, 255, 255, 0.05);
	margin: 0 auto;
}

.concerts-nav {
	min-height: 50px;
	width: 100%;
	font-size: 1.2em;
	border-bottom: 1px solid gray;
	font-family: monospace;
}

span {}

.text-to_be-dates {
	margin: 15px;
	display: inline-block;
	vertical-align: bottom;
}

.round {
	height: 45px;
	width: 45px;
	border: 2px solid white;
	border-radius: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -22.5px;
	margin-top: -22.5px;
}

.round::before {
	content: "";
	position: relative;
	border: 10px solid transparent;
	border-left: 17px solid white;
	top: 22px;
	left: 17px;
}

.search-string {
	background-color: transparent;
	float: left;
	margin-left: 40px;
	height: 20px;
	color: white;
	padding: 8px;
	border: 0px solid transparent;
	width: 85%;
	outline: 0;
	font-family: monospace;
	font-size: 1.3em;
}

.search-string::placeholder {
	color: black;
	color: white;
	position: relative;
	opacity: 0.4;
}

.psevdo {
	position: relative;
	width: 100%;
	height: 20px;
	margin: 10px;
	font-family: monospace;
}

.for-psevdo {
	position: relative;
	top: 3px;
	left: -4px;
}

.for-psevdo::before {
	content: "";
	position: absolute;
	height: 12px;
	width: 12px;
	border: 1.2px solid white;
	border-radius: 100%;
	top: 4px;
	left: 25px;
}

.for-psevdo::after {
	content: "";
	position: absolute;
	height: 1.2px;
	width: 8px;
	background-color: white;
	top: 17px;
	left: 36px;
	color: white;
	transform: rotate(45deg);
}

.place-dates {
	opacity: 0.4;
}

.event {
	font-family: monospace;
	font-size: 28px;
	background-color: rgba(0, 0, 0, .4);
	border-bottom: 1px solid gray;
	padding: 20px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.date {
	display: inline-block;
	font-size: 0;
	width: 120px;
}

.month {
	display: inline-block;
	font-size: 20px;
	margin-left: 3px;
	vertical-align: top;
	margin-top: 15px;
}

.event-name {
	display: inline-block;
	font-size: 0.7em;
	margin-left: 20px;
	width: 250px;
	vertical-align: top;
	margin-top: 15px;
}

.event-place {
	display: inline-block;
	font-size: 0.6em;
	letter-spacing: 0.05em;
	vertical-align: top;
	margin-top: 15px;
}

.event-btn {
	display: inline-block;
	height: 40px;
	width: 160px;
	border: 2px solid #F0B000;
	vertical-align: top;
	float: right;
	margin-top: 3px;
}

.event-go {
	text-decoration: none;
	color: #F0B000;
	font-size: 18px;
	width: 100%;
	height: 100%;
	text-align: center;
	display: inline-block;
	line-height: 40px;
}

.event-go:hover {
	background-color: #F0B000;
	color: white;
}

.event:nth-child(odd) {
	background-color: #181818;
}

.num {
	font-size: 14px;
	margin-right: 10px;
}

.img-flag {
	display: inline-block;
	vertical-align: top;
	height: 15px;
	width: 23px;
}

.language {
	text-decoration: none;
	color: white;
	display: inline-block;
	padding-top: 4px;
}

.language:hover {
	color: dimgray;
}

.comments {
	position: relative;
	left: 0;
	animation-name: bio-comments;
	animation-duration: 1.5s;
	font-family: monospace;
	max-height: 140px;
}

.citate {
	font-family: sans-serif;
	font-size: 20px;
	margin-left: 200px;
	font-weight: 100;
}

.descr-eng {
	width: 440px;
	font-weight: 500;
	font-size: 0.842em;
	letter-spacing: normal;
	line-height: 1.15;
	letter-spacing: 0.5px;
	max-height: 6000px;
	margin-top: 5px;
	height: 5200px;
}

.bio-name {
	font-family: monospace;
	letter-spacing: 0.05em;
	font-size: 1.2em;
}

.descr-ukr {
	width: 445px;
	font-weight: 500;
	font-size: 0.82em;
	line-height: 1.15;
	letter-spacing: 0.8px;
	height: 5200px;
}

.nav-ul {
	margin: 0;
	padding: 0;
	font-size: 0px;
	display: flex;
}

.btn-index {
	margin-left: 50%;
	padding: 10px 50px;
	border: 20px;
	border: 1px solid white;
	background-color: transparent;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	cursor: pointer;
	position: relative;
	left: -73px;
}

.flex-container {
	display: flex;
}

.mus-player-stop {
	height: 40px;
	width: 40px;
	background-color: transparent;
	margin-top: 10px;
	border: 1px solid gray;
	position: relative;
	cursor: pointer;
	margin-right: 10px;
}

.mus-player-stop::after {
	content: "";
	position:absolute;
	height: 20px;
	width: 5px;
	left: 12px;
	top: 10px;
	background-color: white;
	color: white;
}
.mus-player-stop::before {
	content: "";
	position:absolute;
	height: 20px;
	width: 5px;
	left: 22px;
	top: 10px;
	background-color: white;
	color: white;
}
.mus-player-stop:hover{
	border: 1px solid white;
}


.wrap-contacts {
	min-height: 800px;
}
.html-contacts {
	background-image: url(../img/music-bg.jpg);
	background-attachment: fixed;
	background-size:cover;
}
