@keyframes click-840 {
	0% {
		left: 0px;
	}
	100% {
		left: -840px;
	}
}

@keyframes click-1680{
	0% {
		left: -840px;
	}
	100% {
		left: -1680px;
	}
}

@keyframes click-2520 {
	0% {
		left: -1680px;
	}
	100% {
		left: -2520px;
	}
}
@keyframes click-3360 {
	0% {
		left: -2520px;
	}
	100% {
		left: -3360px;
	}
}

@keyframes click3360 {
	0% {
		left: -3360px;
	}
	100% {
		left: -2520px;
	}
}


@keyframes click2520 {
	0% {
		left: -2520px;
	}
	100% {
		left: -1680px;
	}
}

@keyframes click1680 {
	0% {
		left: -1680px;
	}
	100% {
		left: -840px;
	}
}

@keyframes click840 {
	0% {
		left: -840px;
	}
	100% {
		left: 0px;
	}
}
