body {
	background-color: black;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 auto;
	min-height: 110%;
	width: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: white;
}

.index-h1 {
	position: relative;
	margin-bottom: 5px;
	padding-top: 15%;
	text-align: center;
	font-size: 64px;
	z-index: 1000;
	color: white;
	top: -30px;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 80px;
	background-color: rgb(24, 24, 24);
}

.footer-inner {
	margin: 0 auto;
	width: 80%;
	color: white;
	text-align: center;
}
.copy-right{
	position: relative;
	top: 0;
	left: 0;
	animation-name: copyright-anim;
	animation-duration: 1.5s;
	
}

.link {
	display: inline-block;
	margin: 15px auto;
}

.link>a {
	display: inline-block;
	color: white;
}

.link>span {}

.nav {
	display: inline-block;
	padding-bottom: 8px;
}

.nav>ul {
	float: left;
	margin: 0;
	padding: 0;
	font-size: 0;
}

.nav>ul>li>a {
	padding: 10px 10px;
	border-radius: 8px;
	background: linear-gradient(180deg, #181818, rgb(80, 80, 80));
	color: white;
	text-decoration: none;
	font-size: 18px;
}

.nav>ul>li {
	display: inline-block;
	vertical-align: top;
}

.nav>ul>li>a:hover {
	background: linear-gradient(180deg, #505050, rgb(124, 124, 124));
	transition: background 1s;
}

#btn {
	position: absolute;
	left: -60px;
	z-index: 3;
	margin-left: 50%;
	padding: 8px 14px;
	width: 120px;
	border: 20px;
	border: 1px solid white;
	background-color: transparent;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
}

#btn:hover {
	cursor: pointer;
}

.line {
	position: absolute;
	bottom: 4px;
	left: 0;
	margin: 0 auto;
	width: 100%;
	height: 12px;
	background-color: rgb(65, 65, 65);
	color: rgb(111, 111, 111);
	text-align: center;
	font-size: 11px;
}

.clearfix::after {
	display: table;
	visibility: hidden;
	clear: both;
	height: 0;
	content: "";
}

.container-bio {
	margin: 0 auto;
	min-height: 6130px;
	width: 1000px;
}

.left-col p {
	margin-top: 0;
	margin-bottom: 20px;
}

.left-col {
	float: left;
	width: 50%;
}

.right-col {
	float: left;
	width: 50%;
}

.bio {
	text-align: center;
}

.lang-choise {
	margin-bottom: 20px;
	text-align: center;
}

.left-col>p {
	margin: 0;
	margin-bottom: 15px;
}

.right-col {
	font-size: 25px;
}

.right-col>h2 {
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-left: 40px;
}

.wiki {
	margin-left: 120px;
	color: #4682B4;
}

.descr {
	width: 435px;
	font-weight: 600;
	font-size: 0.76em;
	font-family: monospace;
}

.disco {
	padding-top: 15px;
	padding-left: 40px;
	font-size: 30px;
	font-family: monospace;
}

.disco-songs {
	letter-spacing: 2px;
	font-family: monospace;
}

.wrap {
	background-image: url(img/music-bg.webp);
	background-attachment: fixed;
	background-size: cover;
	min-height: 2400px;
	margin: 0 auto;
	background-repeat: no-repeat;
}

.container-music {
	width: 1000px;
	margin: 0 auto;
	color: white;
	text-align: center;
	min-height: 2500px;
}

.titles {
	display: inline-block;
	font-size: 40px;
	width: 25%;
	font-weight: 600;
}

.left {
	text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px, rgba(0, 0, 0, 0.6) -1px -1px 1px;
	animation-name: title-anim;
	animation-duration: 1.5s;
	position: relative;
	top: 0px;
	left: 0px;
}

.right {
	animation-name: title-anim;
	animation-duration: 1.5s;
	position: relative;
	top: 0px;
	left: 0px;
}

.main {
	font-size: 48px;
	text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px, rgba(0, 0, 0, 0.6) -1px -1px 1px;
	animation-name: title-anim2;
	animation-duration: 2s;
}

.first-album {
	float: left;
	width: 600px;
	border: 1px solid white;
	padding: 10px;
	text-align: left;
}


.buy-left {
	float: left;
	position: relative;
	left: 10px;
}

.buy-left:hover {
	color: yellow;
	cursor: pointer;
}

.time {
	display: inline-block;
	margin-left: 20px;
	vertical-align: middle;
}

.duration {
	display: inline-block;
	vertical-align: middle;
}

.subscr-right {
	position: relative;
	display: inline-block;
	float: right;
	left: -10px;
}

.twitter {
	position: absolute;
	left: 90px;
	top: 1px;
	visibility: hidden;
	cursor: pointer;
	animation-duration: 0.9s;
}

.face {
	position: absolute;
	left: 62px;
	top: 1px;
	visibility: hidden;
	cursor: pointer;
	animation-duration: 0.7s;
}

.vk {
	position: absolute;
	left: 34px;
	top: 1px;
	visibility: hidden;
	cursor: pointer;
	animation-duration: 0.5s;
}

.img-block {
	min-height: 500px;
	width: 572px;
	background: url(img/heart-of-stone.jpg);
	margin-top: 15px;
	margin-left: 13px;
	background-position: center;
	background-clip: content-box;
	background-repeat: no-repeat;
}

.controls {
	margin-top: 20px;
}

.song-ul {
	list-style: none;
	text-align: left;
	padding: 0;
}
.song-ul2 {
	list-style: none;
	text-align: left;
	padding: 0;
}
.num {
	padding-right: 20px;
}

.song-list {
	display: block;
	padding-top: 12px;
	padding-bottom: 12px;
	border-top: 1px gray solid;
	font: normal normal normal 14px "courier new", courier-ps-w01, courier-ps-w02, courier-ps-w10, monospace;
	letter-spacing: 1px;
	cursor: pointer;
}

.track-length {
	float: right;
}

.song-list:hover {
	color: #F0B000;
}

.second-album {
	float: left;
	width: 560px;
	min-height: 300px;
	border: 2px gray solid;
	margin: 0 auto;
	margin-top: 20px;
	margin-left: 20px;
	padding: 15px;
	text-align: left;
}

.img-block2 {
	background: url(img/img10.jpg);
	width: 550px;
	height: 550px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-top: 15px;

}

.song-list2 {
	padding-top: 12px;
	padding-bottom: 12px;
	border-top: 1px gray solid;
	font: normal normal normal 14px "courier new", courier-ps-w01, courier-ps-w02, courier-ps-w10, monospace;
	letter-spacing: 1px;
	cursor: pointer;
}

.song-list2:hover {
	color: #F0B000;
}

.controls2 {
	margin-top: 20px;
}
.duration2{
	display: inline;
}

.third-album {
	float: right;
	width: 310px;
	min-height: 400px;
	border: 1px solid white;
	margin-top: 35px;
	padding: 10px;
	margin-right: 20px;
	text-align: left;
	padding-bottom: 0px;
}

.img-block3 {
	background: url(img/img11.jpg);
	width: 280px;
	height: 280px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-clip: content-box;
	padding-left: 15px;
	padding-top: 10px;
}

.progress-line3 {
	height: 5px;
	width: 25%;
	display: inline-block;
	background-color: rgba(255, 255, 255, .5);
	position: relative;
	cursor: pointer;
	margin-left: 10px;
	vertical-align: middle;
}

.progress-line4 {
	height: 5px;
	width: 25%;
	display: inline-block;
	background-color: rgba(255, 255, 255, .5);
	position: relative;
	cursor: pointer;
	margin-left: 10px;
	vertical-align: middle;
}

.progress-line5 {
	height: 5px;
	width: 25%;
	display: inline-block;
	background-color: rgba(255, 255, 255, .5);
	position: relative;
	cursor: pointer;
	margin-left: 10px;
	vertical-align: middle;
}

.song-list3 {
	padding-top: 12px;
	padding-bottom: 12px;
	border-top: 1px gray solid;
	font: normal normal normal 14px "courier new", courier-ps-w01, courier-ps-w02, courier-ps-w10, monospace;
	letter-spacing: 1px;
	cursor: pointer;
}

.song-name {
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
	font-size: 22px;
	font-family: monospace;
}

.album-name {
	font-family: monospace;
}

.songs-scroll {
	height: 200px;
	overflow-y: auto;
}

.fourth-album {
	float: right;
	width: 310px;
	min-height: 380px;
	border: 1px solid white;
	margin-top: 20px;
	padding: 10px;
	margin-right: 20px;
	padding-bottom: 0px;
	text-align: left;
}

.img-block4 {
	background: url(img/img12.jpg);
	width: 280px;
	height: 280px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-clip: content-box;
	padding-left: 15px;
	padding-top: 10px;
}

.song-list4 {
	padding-top: 12px;
	padding-bottom: 12px;
	border-top: 1px gray solid;
	font: normal normal normal 14px "courier new", courier-ps-w01, courier-ps-w02, courier-ps-w10, monospace;
	letter-spacing: 1px;
	cursor: pointer;
}

.fifth-album {
	float: right;
	width: 280px;
	min-height: 300px;
	border: 1px solid white;
	margin-top: 10px;
	padding: 10px;
	margin-right: 35px;
	padding-bottom: 0px;
	text-align: left;
}

.img-block5 {
	background: url(img/img13.jpg);
	width: 280px;
	height: 280px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-clip: content-box;
	padding-top: 10px;
}

.song-list5 {
	padding-top: 12px;
	padding-bottom: 12px;
	border-top: 1px gray solid;
	font: normal normal normal 14px "courier new", courier-ps-w01, courier-ps-w02, courier-ps-w10, monospace;
	letter-spacing: 1px;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
}

.controls5 {
	width: 250px;
}

.progress-line1 {
	height: 5px;
	width: 60%;
	display: inline-block;
	background-color: rgba(255, 255, 255, .5);
	position: relative;
	cursor: pointer;
	margin-left: 10px;
	vertical-align: middle;
}

.progress1 {
	height: 5px;
	width: 0px;
	background-color: #F0B000;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
}

.button {
	margin-top: 12px;
	height: 30px;
	width: 30px;
	position: relative;
	cursor: pointer;
	display: inline-block;
	top: 8px;
}

.play::before {
	content: "";
	display: block;
	position: absolute;
	border: 12px solid transparent;
	border-left: 16px solid white;
	left: 17px;
	cursor: pointer;
	top: 4px;
}

.play:hover::before {
	border-left: 16px solid #F0B000;
}

.stop::before {
	content: "";
	display: block;
	position: absolute;
	border: 3px solid white;
	left: 14px;
	height: 18px;
	cursor: pointer;
	top: 2px;
}

.stop:hover::before {
	border-color: #F0B000;
}

.stop::after {
	content: "";
	display: block;
	position: absolute;
	border: 3px solid white;
	left: 27px;
	height: 18px;
	cursor: pointer;
	top: 2px;
}

.stop:hover::after {
	border-color: #F0B000;
}

.btn-prev {
	display: inline-block;
}

.btn-next {
	display: inline-block;
}

.btn-prev::before {
	content: "";
	display: block;
	position: relative;
	border: 8px solid transparent;
	border-right: 11px solid white;
	cursor: pointer;
	top: 16px;
}

.btn-prev::after {
	content: "";
	display: block;
	position: relative;
	border: 1.5px solid white;
	cursor: pointer;
	height: 11px;
	width: 0px;
	left: 8px;
	top: 1px;
}

.btn-prev:hover::before {
	border-right: 11px solid #F0B000;
}

.btn-prev:hover::after {
	border-color: #F0B000;
}

.btn-next:hover::before {
	border-left: 11px solid #F0B000;
}

.btn-next:hover::after {
	border-color: #F0B000;
}

.btn-next::before {
	content: "";
	display: block;
	position: relative;
	border: 8px solid transparent;
	border-left: 11px solid white;
	cursor: pointer;
	top: 16px;
	left: 6px;
}

.btn-next::after {
	content: "";
	display: block;
	position: relative;
	border: 1.5px solid white;
	cursor: pointer;
	height: 11px;
	width: 0px;
	left: 14px;
	top: 1px;
}
